body {
}

.margem-top{margin-top:10px;}
.margem-bottom{margin-bottom:15px;}

/*menu*/

.navbar-inverse {
    background-color: #0269c2;
    border-color: #0C70BA;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: #333333;    
}

/*--------------------------------------------------------------------------------------*/

/*Manipulação de formulário*/
.form div input{ max-width:652px; }

.inputNum input{ max-width: 160px; }

.inputEnd input{ max-width:360px; }

.margem{ margin-left:180px !important;}

/*--------------------------------------*/

.link-white {
    color: #FFF;    
}